# Project exclude paths
/.gradle/
/.idea/
/trajectory-offload/trajectory-offload.iml
/.run/
build/
simgui.json
simgui-ds.json
simgui-window.json
networktables.json
ctre_sim/

hs_err_pid*

/trajectory-design/my_optimizers/navigation/target/
